<div>

    <div ng-if="activeExercise == 1">
        <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="namePrepend">Name</span>
            </div>
            <input type="text" class="form-control form-control-md" id="name" ng-model="name"
                placeholder="Enter your name" aria-describedby="namePrepend">
        </div>
        <div class="border bg-light p-4" id="siri">
            <h1 class="h1 text-dark"><span ng-show="name">Welcome <strong>{{name}}</strong>. </span>How may I serve you
                today?</h1>
        </div>
    </div>

    <div ng-if="activeExercise == 2">
        <div class="row">
            <div class="col">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="numberOnePrepend">Number 1</span>
                    </div>
                    <input type="number" class="form-control form-control-md" id="number1" ng-model="number1"
                        placeholder="Enter an evil number" aria-describedby="numberOnePrepend">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="numberTwoPrepend">Number 2</span>
                    </div>
                    <input type="number" class="form-control form-control-md" id="number2" ng-model="number2"
                        placeholder="And another" aria-describedby="numberTwoPrepend">
                </div>
            </div>
            <div class="col">
                <div class="border bg-light p-4" id="calculator">
                    <ul class="list-group" ng-show="number1 || number2">
                        <li class="list-group-item"> {{number1}} + {{number2}} = {{ number1 + number2 }} </li>
                        <li class="list-group-item"> {{number1}} - {{number2}} = {{ number1 - number2 }} </li>
                        <li class="list-group-item"> {{number1}} * {{number2}} = {{ number1 * number2 }} </li>
                        <li class="list-group-item"> {{number1}} / {{number2}} = {{ number1 / number2 }} </li>
                    </ul>
                    <span class="h5 text-dark" ng-show="!(number1 || number2)">Enter both the numbers</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="activeExercise == 3">
        <div class="row">
            <div class="col">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="agePrepend">Age</span>
                    </div>
                    <input type="number" class="form-control form-control-md" id="age" ng-model="age"
                        placeholder="Enter your age" min="0" max="72.6" aria-describedby="agePrepend">
                </div>
            </div>
            <div class="col">
                <div class="border bg-light p-4" id="age">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            Weeks lived so far: <span class="h6" ng-if="age">{{52 * age}}</span>
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            Weeks remaining: <span class="h6" ng-if="age">{{(72.6 - age) * 52 | number:2}}</span>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            Percentage completion:
                            <span class="h6" ng-if="age">{{age / 72.6 * 100 | number:2}}%</span>
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="{{age / 72.6 * 100}}" aria-valuemin="0"
                                    aria-valuemax="72.6" style="width: {{age / 72.6 * 100}}%"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="activeExercise == 4">
        <div class="row">
            <div class="col">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="avatarUrlPrepend">Profile URL</span>
                    </div>
                    <input type="text" class="form-control form-control-md" id="avatarUrl" ng-model="avatarUrl"
                        placeholder="Enter a url" aria-describedby="avatarUrlPrepend">
                </div>
            </div>
            <div class="col-3">
                <div class="border bg-light text-center py-4" id="avatarUrl">
                    <img ng-if="avatarUrl" src="{{avatarUrl}}" alt="avatarUrl" width="150em" height="150em">
                </div>
            </div>
        </div>
    </div>

    <div ng-if="activeExercise == 5">

    </div>

</div>