<div>
    <div class="p-2" ng-if="activeExercise == 1">
        <h4 class="h3">Evil Siri</h4>
        <p class="lead text-justify">
            You are a crazy scientist building an AI for world domination. For reasons known only to you,
            you have chosen Angular to help you in this epic task. Your first job is to teach your new
            creation to greet you by name.
            Write an Angular template which contains an "enter your name" form. As you type, it updates
            the page with an h1 tag.
        </p>
    </div>

    <div class="p-2" ng-if="activeExercise == 2">
        <h4 class="h3">Handy instant maths calculators</h4>
        <p class="lead text-justify">
            As an evil genius, you need a calculator to help you work how many helidrones you will need to
            steal the houses of parliament.
            Let's build one now. There are two input fields, each with a number, 
            Use the curly brace syntax or ng-bind to output the sum of the two numbers.
            When you fill in the fields, output a little list in HTML.
        </p>
    </div>
</div>