/* app css stylesheet */
html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card-height{
  height: 85vh;
  overflow-y: auto;
}
.btn{
  font-weight: 500 !important;
}
.button-width{
  width: 12em;
}
/* .ngdialog.ngdialog-theme-plain .ngdialog-content{
  top:30% !important;
  bottom: 50% !important;
  background-color: #f8f9fa !important;
} */